:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

:root[class="dark"] {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 80;
  --background-end-rgb: 0, 0, 0;
}